* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CSS hack for full height display: https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */

.container {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}
